@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ShadowsIntoLight";
  src: url("./assets/ShadowsIntoLight-Regular.ttf");
}

* {
  font-family: "ShadowsIntoLight";
}

body {
  margin: 0;
  background-color: white;
}

.page-title {
  padding-top: 0px;
  font-size: 50px;
  text-align: center;
  width: 100%;
}

.no-classes {
  padding-top: 0px;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.home-page {
  background-image: url("./assets/blob10.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0% 2%;
}

.calendar-icon {
  font-size: 25px;
}

.carousel {
  margin-top: 5%;
  width: 100%;
}

.carousel-item {
  width: 80%;
  border-radius: 10px;
}

.card-title {
  font-size: 30px;
  padding-bottom: 3%;
  border-bottom: solid #b8d6a5;
}

.card-info {
  font-size: 18px;
}

.top-navbar {
  width: 100vw;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
  position: fixed;
  bottom: 0%;
  left: 0;
  right: 0%;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tab {
  width: 50%;
  color: black;
}

.tabs {
  margin-top: 3%;
  width: 100%;
  justify-content: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  flex: end;
}

.bold {
  font-weight: bolder;
}

.add-button {
  position: fixed;
  bottom: 11%;
  left: 80%;
  right: 0%;
  background-color: #ebdec1;
  border-color: #5a7c65;
}

.new-class-page {
  height: 100vh;
  background-color: #fefae0;
  padding: 30px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/blob5.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 240%;
}

.new-class-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20% 5% 22% 5%;
  margin: 55px;
  width: 80%;
  height: 70vh;
  background-color: white;
  background-image: url("./assets/blob1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400%;
  border-radius: 50px;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.btn-white {
  background-color: white;
  color: black;
  width: 16%;
}

.prev-next {
  width: 40%;
  font-size: 35px;
}

.form-title {
  font-size: 20px;
  display: flex;
  margin: 10px 0;
  justify-content: center;
}

.checkbox {
  border: black solid 0.1px;
}

.cursor-pointer {
  gap: 8px;
}

.submit {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.level-btn::before :hover {
  background-color: transparent;
}

.date-time-input {
  display: flex;
  justify-content: center;
}

.time-pickers,
.date-pickers {
  margin: 0 30px 0 20px;
}

.card {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 96%;
  gap: 5%;
}

.summary-buttons {
  height: 100%;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 70px;
  margin-bottom: 20%;
}
