@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ShadowsIntoLight";
  src: url("./assets/ShadowsIntoLight-Regular.ttf");
}

* {
  font-family: "ShadowsIntoLight";
}

body {
  margin: 0;
  background-color: white;
}

.page-title {
  font-size: 40px;
  margin: 5%;
  text-align: center;
  width: 100%;
}

.no-classes {
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.home-page {
  min-height: 100vh;
  height: 100%;
  padding: 20% 2% 40% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.calendar-icon {
  font-size: 25px;
}

.carousel {
  margin-top: 5%;
  width: 100%;
}

.carousel-item {
  width: 85%;
  border-radius: 10px;
  overflow: hidden;
  padding: 0%;
}

.carousel-body {
  padding: 5%;
}

.card-title {
  font-size: 25px;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid #5a7c65;
}

.card-info {
  font-size: 15px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 999;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: solid #5a7c65 1px;
  border-radius: 10px;
  margin-left: 10%;
  width: 80%;
}

.tab {
  width: 50%;
  color: black;
}

.tabs {
  margin-top: 3%;
  width: 100%;
  justify-content: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  flex: end;
}

.bold {
  font-weight: bolder;
}

.add-button {
  position: fixed;
  bottom: 11%;
  left: 80%;
  right: 0%;
  background-color: #e9e7e7;
  border-color: #100f0f solid;
}

.new-class-page {
  height: 100%;
  padding: 20% 2% 40% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.new-class-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8% 0;
  width: 80%;
  height: 75%;
  background-color: #cde2c1;
  border-radius: 50px;
}

.class-name-input {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  align-items: center;
  width: 80%;
}

.btn-group {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  box-shadow: -4px 0 transparent;
}

.btn-white {
  background-color: white;
  color: black;
  width: 16%;
}

.prev-next {
  width: 40%;
  font-size: 35px;
}

.form-title {
  font-size: 20px;
  display: flex;
  margin: 10px 0;
  justify-content: center;
  color: #252223;
}

.checkbox {
  border: #85b79a solid 0.1px;
  border-radius: 35px;
}

.cursor-pointer {
  gap: 1px;
}

.submit {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.level-btn::before :hover {
  background-color: transparent;
}

.date-time-input {
  display: flex;
  justify-content: center;
}

.time-inputs,
.date-inputs {
  border: solid #5a7c65 1px;
  background-color: white;
}

.time-pickers,
.date-pickers {
  margin: 0 30px 0 20px;
}

.card {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 96%;
  gap: 5%;
}

.summary-buttons {
  height: 100%;
  width: 30%;
  text-align: center;
  font-size: 17px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 35px;
  margin-bottom: 15%;
}

.new-plan-page {
  height: 100vh;
  background-color: white;
  padding: 30px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-page {
  height: 100vh;
  background-color: white;
  background-image: url("./assets/blob4.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  padding: 30px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.hero-text {
  width: 60%;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.line-calendar {
  width: 60%;
  margin-bottom: -10%;
}

.already-registered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
